<?xml version="1.0"?>
<!--SIT Config-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="LKMConstr" value="mcQKhSSzcMOpK3odqZPu3wertyuioppiuyghjxcCoscEr5L0/"/>
    <add key="CacheExpiry" value="10"/>
    <add key="CACHE_USER_VALUE" value="_UserList"/>   
  </appSettings>
</configuration>
